
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("../assets/Frame_1.jpg"); 
    background-repeat: no-repeat;
    background-size: 100% 100%; /* растянуть на весь экран */
    background-position: center; /* центрирование */
    background-attachment: fixed; /* закрепить фон при скролле */
}

/* Пример контента поверх фона */
.content {
    position: relative;
    z-index: 1;
    color: orangered;
    text-align: center;
    font-family: sans-serif;
    padding-top: 50px;
}

.slogans {
    position: absolute;
    bottom: 5px; 
    left: 180px;
    margin: 60px auto;
    max-width: 800px;
}

.slogans p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #8C5532;
    margin: 10px 0;
    font-weight: 600;

}

.slogans p:nth-child(1) {
    margin-left: 0;
}

.slogans p:nth-child(2) {
    margin-left: 40px;
}

.slogans p:nth-child(3) {
    margin-left: 80px;
}

.slogans p:nth-child(4) {
    margin-left: 120px;
}

.slogans p:nth-child(5) {
    margin-left: 160px;
}

.slogans p:nth-child(6) {
    margin-left: 200px;
}

.slogans p:nth-child(7) {
    margin-left: 240px;
}


.button-section {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 20px 20px;
    max-width: 1200px;
    margin: 0 auto; 
    gap: 20px; 
}

.button-section img {
    width: 200px;
    height: auto; 
    cursor: pointer;
    transition: transform 0.3s;
}

.button-section img:hover {
    transform: scale(1.05); 
}

.site-footer {
    position: fixed;
    bottom: -5px;
    left: 0;
    display: inline-block;
    padding: 0px 10px;
}


.footer-text {
    color: #A35F36;
    font-size: 16px;
    font-weight: bold;
}


.certificates-carousel {
    position: absolute; 
    top: 215px; 
    left: 1125px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-track {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
}

.carousel-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #8C5532;
    margin: 10px 0;
    font-weight: 600;
}

.slide img {
    width: 125px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.carousel-dots {
    display: flex;
    gap: 8px;
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background: #333;
}

















