:root{
    --bgHeaderColor: #7DC7FF;
}

header{
    width: 100%;
    height: auto;
    background-color: var(--bgHeaderColor);
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
}
body{
    margin: 0;
    padding: 0;
}


.button-section {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 20px 20px;
    max-width: 1200px;
    margin: 0 auto; 
    gap: 20px; 
}

.button-section img {
    width: 200px;
    height: auto; 
    cursor: pointer;
    transition: transform 0.3s;
}

.button-section img:hover {
    transform: scale(1.05); 
}

.site-footer {
    position: fixed;
    bottom: -5px;
    left: 0;
    display: inline-block;
    padding: 0px 10px;
}


.footer-text {
    color: #A35F36;
    font-size: 16px;
    font-weight: bold;
}



















